<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head th:replace="layouts/head :: head">
</head>
<body>
	<nav th:replace="layouts/head :: nav"></nav>
	<div class="container" ng-controller="controller">
		<div class="row">
			<div class="col-lg-4 col-sm-12 friend" ng-repeat="friend in friends">
				<h4>{{ friend.name }}</h4>
				<p>{{ friend.address}}</p>
				<p>{{ friend.city}}, {{ friend.country }} {{ friend.postalCode }}</p>
				<div class="row">
					<div class="col-lg-4 col-sm-12 property">tel</div>
					<div class="col-lg-8 col-sm-12">{{ friend.tel }}</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-12 property">mobile</div>
					<div class="col-lg-8 col-sm-12">{{ friend.mobile }}</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-sm-12 property">email</div>
					<div class="col-lg-8 col-sm-12">{{ friend.email }}</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/app/index.js"></script>
</body>
</html>